/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background-color: #ffddb0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Local styles */

/* HEADER */
header .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.top-row .logo {
    display: flex;
    align-items: center;
}

/* Site navigation */
.top-row .top-nav ul {
    display: flex;
    gap: 1.5em;
}

.top-row .top-nav li {
    padding: 1em;
}

.top-row .profile-and-cart {
    display: flex;
    padding: 1em;
    gap: 1.5em;
}

.top-row .location {
    display: flex;
    align-items: center;
}

.location .city-state span {
    display: block;
}

.location, .profile, .cart {
    border: none;
}

/* Search */
.bottom-row {
    padding: 0 2em;
}

.bottom-row .search {
    display: flex;
    align-items: center;
    position: relative;
}

.search .search-input {
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    padding: 1em;
    width: 100%;
}

.search-btn {
    position: absolute;
    right: 1em;
    border: none;
}



/* MAIN */



/* FOOTER */