/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background-color: #000;
    color: white;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: white
}

li {
    list-style: none;
}

/* Local styles */

/* HOME PAGE */

/* HEADER */
.top-blastdoor-panel,
.bottom-blastdoor-panel {
    height: 5vh;
    background: linear-gradient(to right, #000 40%, #555, #000);
}

.top-blastdoor-panel {
    border-bottom: 10px outset #333;
}

/* MAIN */
.blastdoor {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-main-blastdoor,
.bottom-main-blastdoor {
    height: 30vh;
    background: linear-gradient(to right, #000 40%, #555, #000);
}

.top-main-blastdoor {
    border-bottom: 20px outset #666;
}

.blue-line {
    background-color: #04041d;
    height: 5px;
}

/* Profile */
.profile,
.title-and-menu {
    position: absolute;
}

.profile {
    height: 70vh;
    width: 30vh;
    border: 1px solid white;
    left: 450px;
    top: 200px;
}

/* Name and title */
.title-and-menu {
    background-color: #000;
    height: 65vh;
    width: 70vh;
    right: 300px;
    top: 150px;
    border-radius: 250px;
    border-top: 20px inset #666;
    border-bottom: 20px outset #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-and-title {
    text-align: center;
    text-transform: uppercase;
}

.name-and-title h1 {
    font-size: 4rem;
    color: gold;
}

.name-and-title h2 {
    font-size: 7rem;
    display: flex;
    align-items: start;
    padding-bottom: .25em;
    color: goldenrod;
}

.name-and-title h2 span {
    font-size: 9rem;
}

.name-and-title h3 {
    font-size: 4rem;
    color: darkgoldenrod;
}

/* Services Menu */
.menu-outer-border {
    height: 610px;
    width: 610px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #03385c;
}

.menu-inner-border {
    height: 550px;
    width: 550px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #000;
}

.menu-container {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
}

.menu-container ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
    border-radius: 50%;
    width: 100%;
}

.menu-container li {
    padding: 1em;
    background-color: #012340;
    text-align: center;
}

/* Lightsaber */
.lightsaber-hilt {
    position: absolute;
    bottom: 235px;
    height: 50px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.bottom {
    background: linear-gradient(#000, #555, #000);
    height: 70%;
    width: 15px;
    border-radius: 50% 0 0 50%;
}

.bottom-ring {
    height: 100%;
    width: 10px;
    background: linear-gradient(#000, #fff, #000, #fff, #000, #fff, #000);
    border-left: 2px solid #000;
}

.connector1 {
    background: linear-gradient(#000, #555, #000);
    height: 70%;
    width: 15px;
    border-radius: 0 50% 50% 0;
}

.connector2 {
    height: 50%;
    width: 10px;
    background: linear-gradient(#000, #555, #000);
    border-left: 1px solid #000;

}

.bottom-plate {
    background: linear-gradient(#000, #fff, #000);
    height: 90%;
    width: 30px;
    border-left: 5px solid #000;
}

.grip {
    background: linear-gradient(#000, #fff, #000);
    height: 50%;
    width: 5px;
    margin: 0 .25em;
}

.top-shaft1 {
    background: linear-gradient(#000, #fff, #000);
    height: 80%;
    width: 20px;
}

.top-shaft-bezel {
    background: linear-gradient(#000, #fff, #000);
    height: 90%;
    width: 10px;
    border-left: 5px solid #000;
}

.top-shaft2 {
    background: linear-gradient(#000, #fff, #000);
    height: 80%;
    width: 20px;
}

.top-plate {
    background: linear-gradient(#000, #fff, #000);
    height: 85%;
    width: 70px;
    border-left: 5px solid #000;
}

.top-rim {
    background: linear-gradient(#000, #fff, #000);
    height: 100%;
    width: 15px;
    border-left: 5px solid #000;
    border-radius: 50px 0 0 50px;
}

.emitter {
    background: linear-gradient(#000, #fff, #000);
    height: 80%;
    width: 7px;
    border-left: 5px solid #000;
}

/* FOOTER */
.bottom-main-blastdoor {
    border-top: 20px inset #666;
}









/* FOOTER */
.bottom-blastdoor-panel {
    border-top: 10px inset #333;
}

/* BIO PAGE */

/* SKILLS PAGE */

/* PROJECTS PAGE */

/* CONTACT PAGE */