/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background-color: #000;
    color: white;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white
}

li {
    list-style: none;
}

/* Local styles */

/* HOME PAGE */

/* HEADER */
.top-blastdoor-panel,
.bottom-blastdoor-panel {
    height: 5vh;
    background: linear-gradient(to right, #000 40%, #555, #000);
}

.top-blastdoor-panel {
    border-bottom: 10px outset #333;
}

.blastdoor {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-main-blastdoor,
.bottom-main-blastdoor {
    height: 30vh;
    background: linear-gradient(to right, #000 40%, #555, #000);
}

.top-main-blastdoor {
    border-bottom: 20px outset #666;
}

.profile,
.title-and-menu {
    position: absolute;
}

.profile {
    height: 70vh;
    width: 30vh;
    border: 1px solid white;
    left: 450px;
    top: 200px;
}

.title-and-menu {
    background-color: #000;
    height: 65vh;
    width: 70vh;
    right: 300px;
    top: 150px;
    border-radius: 250px;
    border-top: 20px inset #666;
    border-bottom: 20px outset #666;
}

.bottom-main-blastdoor {
    border-top: 20px inset #666;
}









/* FOOTER */
.bottom-blastdoor-panel {
    border-top: 10px inset #333;
}

/* BIO PAGE */

/* SKILLS PAGE */

/* PROJECTS PAGE */

/* CONTACT PAGE */