/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background: linear-gradient(to right, #000 40%, #555, #000);
    color: white;
}

a {
    text-decoration: none;
    color: white
}

li {
    list-style: none;
}

/* Local styles */

/* HOME PAGE */
.top-blastdoor-panel {
    height: 5vh;
    border-bottom: 10px outset #000;
}


.blastdoor {
    position: relative;
}

.top-main-blastdoor
/* BIO PAGE */

/* SKILLS PAGE */

/* PROJECTS PAGE */

/* CONTACT PAGE */